.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Creates a responsive grid with a minimum column width of 220px */
    grid-gap: 90px; /* Spacing between products */
    padding: 20px;
  }
  
  /* Below is optional if you want to center the grid on larger screens */
  .productList-container {
    max-width: 1200px; /* Maximum width of the product list */
    margin: 0 auto; /* Centers the grid in the available horizontal space */
  }
  
  /* Responsive adjustments can be added if necessary */
  @media (max-width: 600px) {
    .productList {
      grid-template-columns: 1fr; /* Full width columns for small screens */
    }
  }