.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  height: 60px;
  color: white;
  padding: 0 20px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin-right: 18px;
  cursor: pointer;
}

.header__navOption {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 14px;
}

.header__navOptionLineOne {
  font-size: 10px;
}

.header__navOptionLineTwo {
  font-weight: 800;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__basketCount {
  margin-left: 10px;
  font-weight: 800;
}