.forgotPassword {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotPassword__container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: white;
}

.forgotPassword__logo {
    width: 100px;
    margin-bottom: 20px;
    background-color: transparent;
    cursor: pointer;
}

.forgotPassword h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.forgotPassword p {
    margin-bottom: 20px;
}

.forgotPassword input {
    width: calc(100% - 20px);
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px; 
    padding-right: 10px; 
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto; 
}

.forgotPassword__continueButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.forgotPassword__continueButton:hover {
    opacity: 0.9;;
}