.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* This sets up a 6-column grid */
  gap: 3.5rem; /* This is the space between grid items */
  padding: 2rem; /* Adds padding inside the grid, around the items */
  margin: 1vh; /* Vertically moves the grid up and centers it horizontally */
  max-width: calc(100% - 4rem); /* Ensures the grid doesn't touch the edges of the screen */
  box-sizing: border-box; /* Includes padding in the width calculation */
  position: relative; /* Keep relative for z-index stacking context */
  z-index: 1; /* Keeps the product grid above the background image */
  margin-top: -20em;
}

.product.large {
  grid-column: span 3; /* Large products span 3 of 6 columns */
}

.product.small {
  grid-column: span 2; /* Small products span 2 of 6 columns */
}

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* Adjust for medium screens */
  }
  .product.large {
    grid-column: span 3; /* Large products span all columns */
  }
  .product.small {
    grid-column: span 1; /* Small products span one column */
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr; /* One column on small screens */
    margin-top: 0; /* Reset the top margin for small screens */
  }
  .product.large, .product.small {
    grid-column: 1 / -1; /* All products span the full width */
  }
}
